In [31]:
import pandas as pd 
import numpy as np
from pandas.io.json import json_normalize

## Selecting  a PS station
Name = 'Walmart|Ama|Remo'
## Select branch filter
branches = ['A7','Any']

df = pd.read_json(r'full.json')
df.drop(['StationId','AccomodationDesc','stipendforpg','Scholarship','CompanyId','stipend'],axis=1)

,Tags,TotalProject,City,CompanyName,ProjectIndustryDomain,IndustryDomain,projs
0,Any,3,Hyderabad,"Access Livelihoods Consulting India, Ltd. - So...",3.0,Finance and Mgmt,"[{'StationId': 4680, 'CompanyId': 4386, 'Total..."
1,"A1 , A2 , A3 , A4 , A7 , A8 , AA , AB",1,Tirora,Adani Power,2.0,Mechanical,"[{'StationId': 47, 'CompanyId': 4, 'TotalProje..."
2,"A3 , A4 , A7 , A8 , AA , AB",1,Ahmedabad,Adani Power,2.0,Mechanical,"[{'StationId': 315, 'CompanyId': 4, 'TotalProj..."
3,"A1 , A4 , AB",1,Halol,Aditya Birla Chemicals - (SCM) - Industry Ben...,1.0,Chemical,"[{'StationId': 4572, 'CompanyId': 4278, 'Total..."
4,"A1 , A4 , AB",1,Halol,Aditya Birla Chemicals - (SCM) - Modelling and...,1.0,Chemical,"[{'StationId': 4571, 'CompanyId': 4277, 'Total..."
...,...,...,...,...,...,...,...
404,A7,1,Bangalore,Wipro - Attendance capturing system using GPS ...,5.0,IT,"[{'StationId': 4475, 'CompanyId': 4181, 'Total..."
405,A7,1,Bangalore,Wipro - Chatbot development,5.0,IT,"[{'StationId': 4476, 'CompanyId': 4182, 'Total..."
406,A7,1,Bangalore,Wipro - Data analytics for decision making,5.0,IT,"[{'StationId': 4477, 'CompanyId': 4183, 'Total..."
407,A7,1,Bangalore,Wipro - Independent assessment engine,5.0,IT,"[{'StationId': 4478, 'CompanyId': 4184, 'Total..."
408,A7,1,Bangalore,Wipro - Online written examination system usin...,5.0,IT,"[{'StationId': 4474, 'CompanyId': 4180, 'Total..."

In [32]:
def matcher(x):
    for i in branches:
        if x.find(i):
            return i
        else:
            return np.NaN

df2 = df[df['Tags'].apply(matcher).notna()].dropna(axis=0)
df2 = df2[df2['CompanyName'].str.contains(Name)]
print(df2)

     StationId               Tags  stipend AccomodationDesc  stipendforpg  \
21        4748                Any        0   Not Applicable             0
202       4592  A3 , A7 , A8 , AA        0   Not Applicable             0
310       2663                Any        0   Not Applicable             0
394       4562                Any        0   Not Applicable             0
395       4564                Any        0   Not Applicable             0
396       4563                Any        0   Not Applicable             0

     Scholarship  CompanyId  TotalProject       City  \
21             0       4450             1  Bangalore
202            0       4298             1  Hyderabad
310            0       2390             1    Jodhpur
394            0       4268             1  Bangalore
395            0       4270             1  Bangalore
396            0       4269             1  Bangalore

                                           CompanyName  ProjectIndustryDomain  \
21                                         Amazon Jobs                    3.0
202  Jochebed Tech Solutions -API\u0026apos;s for R...                    5.0
310                     Regional Remote Sensing Centre                    7.0
394                                       Walmart - IT                    3.0
395                    Walmart - Operations Management                    3.0
396                           Walmart - Sectoral study                    3.0

        IndustryDomain                                              projs
21    Finance and Mgmt  [{'StationId': 4748, 'CompanyId': 4450, 'Total...
202                 IT  [{'StationId': 4592, 'CompanyId': 4298, 'Total...
310  Govt Research Lab  [{'StationId': 2663, 'CompanyId': 2390, 'Total...
394   Finance and Mgmt  [{'StationId': 4562, 'CompanyId': 4268, 'Total...
395   Finance and Mgmt  [{'StationId': 4564, 'CompanyId': 4270, 'Total...
396   Finance and Mgmt  [{'StationId': 4563, 'CompanyId': 4269, 'Total...

In [33]:
Projects = df2['projs']
Project = []
for i in Projects.tolist():
    for j in i:
        Project.append(j['details'])
print(Project)

[[{'ProjectId': 13079, 'TotalReqdStudents': 10, 'ProjectId1': 13079, 'projectTitle': '--', 'CompanyId': 4450, 'StationId': 4748, 'PSType': 1, 'BatchId': 10, 'PBDescription': 'Project 1: Future of Employer Branding on CampusesProject 2: Branding strategy/Plan for enhancing Amazon HR position in the external environmen', 'TotalReqdStudents1': 10, 'GeneralMinCGPA': '0', 'GeneralMaxCGPA': '0', 'CreateDate': '/Date(1588794993667)/', 'IsActive': True, 'Degree': 1, 'PSTypeFor': 1, 'BatchIdFor': 10, 'Filleddate': 'May  7 2020  1:26AM', 'Tags': 'Any', 'Filledby': 'PDC', 'TotalProject': 1}], [{'ProjectId': 12434, 'TotalReqdStudents': 1, 'ProjectId1': 12434, 'projectTitle': 'API for Remote monitoring and control of IoT devices', 'CompanyId': 4298, 'StationId': 4592, 'PSType': 1, 'BatchId': 10, 'PBDescription': 'API for Remote monitoring and control of IoT devices', 'TotalReqdStudents1': 1, 'GeneralMinCGPA': '0', 'GeneralMaxCGPA': '0', 'CreateDate': '/Date(1588652825713)/', 'IsActive': True, 'Degree': 1, 'PSTypeFor': 1, 'BatchIdFor': 10, 'Filleddate': 'May  5 2020  9:57AM', 'Tags': 'A3 , A7 , A8 , AA', 'Filledby': 'PDC', 'TotalProject': 1}], [{'ProjectId': 11138, 'TotalReqdStudents': 10, 'ProjectId1': 11138, 'CompanyId': 2390, 'StationId': 2663, 'PSType': 1, 'BatchId': 10, 'PBDescription': '1) Advanced Digital Image Processing Techniques - Machine learning, Big Data Analytics, Artificial Intelligence etc. 2) Hyperspectral Data Analysis for Characterizing Various Natural Resources(Vegetation, Soil, Water, Air & Mineral) Note - Interest in working with hyperspectral data, knowledge of image data format & its processing. Acquaintance with ENVI/IDL Python or comparable image analysis tools is desirable3) Microwave Image Processing', 'TotalReqdStudents1': 10, 'GeneralMinCGPA': '0', 'GeneralMaxCGPA': '0', 'CreateDate': '/Date(1570256210627)/', 'IsActive': True, 'Degree': 1, 'PSTypeFor': 1, 'BatchIdFor': 10, 'Filleddate': 'Oct  5 2019 11:46AM', 'Tags': 'Any', 'Filledby': 'PDC', 'TotalProject': 1}], [{'ProjectId': 9964, 'TotalReqdStudents': 10, 'ProjectId1': 9964, 'projectTitle': 'CS work', 'CompanyId': 2390, 'StationId': 2663, 'PSType': 1, 'BatchId': 9, 'PBDescription': 'System Dynamics based Approach for Environmental Modelling. (Note Ã¢\x80\x93 Interest in working in modeling especially in environmental parameters is desirable)Hyperspectral Data Analysis for Characterizing Various Natural Resources  (Vegetation, Soil, Water, Air & Mineral) (Note Ã¢\x80\x93 Interest in working with hyperspectral data, knowledge of image data format & its processing.  Acquaintance with ENVI/IDL/Python or comparable image analysis tools is desirable)Advanced Digital Image Processing Techniques Ã¢\x80\x93 Machine learning,  Big Data Analytics, Artificial Intelligence  etc.Microwave Image Processing', 'TotalReqdStudents1': 10, 'GeneralMinCGPA': '0', 'GeneralMaxCGPA': '0', 'CreateDate': '/Date(1549274172483)/', 'IsActive': True, 'Degree': 1, 'PSTypeFor': 1, 'BatchIdFor': 9, 'Filleddate': 'Feb  4 2019  3:26PM', 'Tags': 'A3 , A7', 'Filledby': 'PDC', 'TotalProject': 1}], [{'ProjectId': 8038, 'TotalReqdStudents': 5, 'ProjectId1': 8038, 'projectTitle': 'Remote sensing related projects', 'CompanyId': 2390, 'StationId': 2663, 'PSType': 1, 'BatchId': 8, 'PBDescription': 'Remote sensing related projects', 'TotalReqdStudents1': 5, 'GeneralMinCGPA': '0', 'GeneralMaxCGPA': '0', 'CreateDate': '/Date(1521371177070)/', 'IsActive': True, 'Degree': 1, 'PSTypeFor': 1, 'BatchIdFor': 8, 'Filleddate': 'Mar 18 2018  4:36PM', 'Tags': 'A3 , A7', 'Filledby': 'PDC', 'TotalProject': 1}], [{'ProjectId': 6149, 'TotalReqdStudents': 5, 'ProjectId1': 6149, 'CompanyId': 2390, 'StationId': 2663, 'PSType': 1, 'BatchId': 7, 'PBDescription': 'System Dynamics based Approach for Environmental Modelling.Hyperspectral Data Analysis for Characterizing Various Natural Resources (Vegetation, Soil, Water, Air & Mineral)', 'TotalReqdStudents1': 5, 'GeneralMinCGPA': '0', 'GeneralMaxCGPA': '0', 'CreateDate': '/Date(1488172939913)/', 'IsActive': True, 'Degree': 1, 'PSTypeFor': 1, 'BatchIdFor': 7, 'Filleddate': 'Feb 27 2017 10:52AM', 'Tags': 'Any', 'Filledby': 'PDC', 'TotalProject': 1}], [{'ProjectId': 12873, 'TotalReqdStudents': 5, 'ProjectId1': 12873, 'projectTitle': 'Data engineering', 'CompanyId': 4268, 'StationId': 4562, 'PSType': 1, 'BatchId': 10, 'PBDescription': 'Data engineering', 'TotalReqdStudents1': 5, 'GeneralMinCGPA': '0', 'GeneralMaxCGPA': '0', 'CreateDate': '/Date(1588764049413)/', 'IsActive': True, 'Degree': 1, 'PSTypeFor': 1, 'BatchIdFor': 10, 'Filleddate': 'May  6 2020  4:50PM', 'Tags': 'Any', 'Filledby': 'PDC', 'TotalProject': 1}], [{'ProjectId': 12870, 'TotalReqdStudents': 5, 'ProjectId1': 12870, 'projectTitle': 'Supply chain excellence', 'CompanyId': 4270, 'StationId': 4564, 'PSType': 1, 'BatchId': 10, 'PBDescription': 'Supply chain excellence', 'TotalReqdStudents1': 5, 'GeneralMinCGPA': '0', 'GeneralMaxCGPA': '0', 'CreateDate': '/Date(1588763881197)/', 'IsActive': True, 'Degree': 1, 'PSTypeFor': 1, 'BatchIdFor': 10, 'Filleddate': 'May  6 2020  4:48PM', 'Tags': 'Any', 'Filledby': 'PDC', 'TotalProject': 1}], [{'ProjectId': 12379, 'TotalReqdStudents': 5, 'ProjectId1': 12379, 'projectTitle': 'Retail sector analysis', 'CompanyId': 4269, 'StationId': 4563, 'PSType': 1, 'BatchId': 10, 'PBDescription': 'Retail sector analysis', 'TotalReqdStudents1': 5, 'GeneralMinCGPA': '0', 'GeneralMaxCGPA': '0', 'CreateDate': '/Date(1588588871940)/', 'IsActive': True, 'Degree': 1, 'PSTypeFor': 1, 'BatchIdFor': 10, 'Filleddate': 'May  4 2020  4:11PM', 'Tags': 'Any', 'Filledby': 'PDC', 'TotalProject': 1}]]

In [34]:
df = []
df2 = []
for j in Project:
    dftemp = json_normalize(j).loc[:,['ProjectId','TotalReqdStudents','projectTitle','PBDescription']]
    df.append(dftemp[dftemp['PBDescription'].notna()][
            'PBDescription'
        ].tolist())
    df2.append(dftemp[dftemp['projectTitle'].notna()][
            'projectTitle'
        ].tolist())
##stuff highly customized here, you'll need to recode
print(df)
print(df2)

[['Project 1: Future of Employer Branding on CampusesProject 2: Branding strategy/Plan for enhancing Amazon HR position in the external environmen'], ['API for Remote monitoring and control of IoT devices'], ['1) Advanced Digital Image Processing Techniques - Machine learning, Big Data Analytics, Artificial Intelligence etc. 2) Hyperspectral Data Analysis for Characterizing Various Natural Resources(Vegetation, Soil, Water, Air & Mineral) Note - Interest in working with hyperspectral data, knowledge of image data format & its processing. Acquaintance with ENVI/IDL Python or comparable image analysis tools is desirable3) Microwave Image Processing'], ['System Dynamics based Approach for Environmental Modelling. (Note Ã¢\x80\x93 Interest in working in modeling especially in environmental parameters is desirable)Hyperspectral Data Analysis for Characterizing Various Natural Resources  (Vegetation, Soil, Water, Air & Mineral) (Note Ã¢\x80\x93 Interest in working with hyperspectral data, knowledge of image data format & its processing.  Acquaintance with ENVI/IDL/Python or comparable image analysis tools is desirable)Advanced Digital Image Processing Techniques Ã¢\x80\x93 Machine learning,  Big Data Analytics, Artificial Intelligence  etc.Microwave Image Processing'], ['Remote sensing related projects'], ['System Dynamics based Approach for Environmental Modelling.Hyperspectral Data Analysis for Characterizing Various Natural Resources (Vegetation, Soil, Water, Air & Mineral)'], ['Data engineering'], ['Supply chain excellence'], ['Retail sector analysis']]
[['--'], ['API for Remote monitoring and control of IoT devices'], [], ['CS work'], ['Remote sensing related projects'], [], ['Data engineering'], ['Supply chain excellence'], ['Retail sector analysis']]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)